.header{
  overflow: hidden;
  background-color: #333;
  height: 70px;
}

.ul{
  list-style: none;
  display: flex;
  gap: 30px;
  align-content: center;
  justify-content: center;
}

.li{
  display: inline;
}
.li a{
  color: aliceblue;
  text-decoration: none;
  font-size: 22px;
  padding: 14px 16px;
}

.li a:hover{
  color: cornflowerblue;
}